h2 {
    text-decoration: underline; /* Subrayar el título */
}

#greetButton {
    background-color: rgb(46, 46, 255); /* Color de fondo azul */
    border-radius: 10px; /* Bordes redondeados */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

#greetButton:hover {
    background-color: darkblue; /* Color de fondo más oscuro al pasar el mouse */
}